.logo{
    width: 40px;
    height: 23px;
    /* background-color: blue; */
}
.logo img{
    width: 164px;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.right ul{
    display: flex;
    gap: 34px;
}
.right ul li{
    list-style: none;
    display: flex;
    align-items: center;
}
.right ul li span{
    padding: 0 5px;
    cursor: pointer;
}

.first{
    display: flex;
    flex-direction: column;
    /* background-color:darkcyan ; */
    
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin: 70px;
    font-family: sans-serif;
}
.first span{
    font-size: 40px;
}
section span img{
    width: 82px;
    margin: 0 23px;
}
.first p{
    font-size: 23px;
    width: 44vw;
    text-align: center;
    
}
.btn{
    background:#00b6d1 ;
    padding: 14px 16px;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    margin:12px 0 ;
    cursor: pointer;

}
.btn a{
    text-decoration: none;
    color: white;
}
.btn small{

}
/* .first button{
    background:#00b6d1 ;
    padding: 14px 16px;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
} */
.flex{
    display: flex;
}
.small{
    font-size: 12px;
}

.second{
    /* display: flex; */
    /* flex-direction: column;
    align-items: center; */
    max-width: 50vw;
    margin: auto;
    /* background: #4eb0be; */
}
.item{
    padding: 23px;
    background: #f9f9f9;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.green{
    background:#5cb85c ;
}
.item-lang{
    font-weight: 700;
    text-align: center;
    padding-bottom: 36px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.download :nth-child(2){
    font-size: 23px;
}
.download{
    display: flex;
    /* justify-content: center; */
    gap:10px ;
    align-items: center;
    font-family: sans-serif;
}
.download img{
    padding: 0 12px;
    width: 38px;
}

@media screen and (max-width:1145px){
    .grid{
        grid-template-columns: 1fr;
    }
}
